body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 0 26px;
    padding: 20px 0;
}


.nav-container img {
    height: 40px;
}

.newlaunch-container {
    margin: 40px 110px 60px 26px;
    position: relative;
}

.launch-span {
    color: rgb(255, 57, 152);
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 18px;
    margin-bottom: 30px;
    display: block;
}

.launch-header {
    font-weight: 800;
    font-size: 48px;
}

.newlaunch-container div:nth-of-type(2) {
    margin-bottom: 30px;
}

.newlaunch-container p {
    color: rgb(85, 85, 85);
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 30px;
    max-width: 300px;
}

.newlaunch-container button {
    background-color: transparent;
    border-radius: 20px;
    border-image: linear-gradient(50deg, #ff497a, #ff6941, #cfb473) 10;
    border-width: 4px;
    border-style: solid;
    padding: 20px 36px;
    font-weight: 600;
    font-size: 20px;
}

.newlaunch-container button:hover {
    cursor: pointer;
}

.pink-nft {
    position: absolute;
    height: 300px;
    top: -50px;
    left: 180px;
}

.freenft-container {
    background-image: url('img/background.svg');
    background-size: cover;
    background-position: 90%;
    padding: 120px 0 30px 0;
}

.freenft-container div {
    font-size: 38px;
    margin: 16px 0;
    margin: 0 80px 16px 26px;
    line-height: 44px;
    font-weight: 500;
}

.freenft-container p {
    font-size: 20px;
    line-height: 28px;
    margin: 0 30px;
}

.companies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 60px 26px;
    row-gap: 30px;
}

.companies img {
    height: 38px;
}

.auction-container {
    margin: 0 26px;
}

.auction-name {
    font-size: 38px;
    max-width: 300px;
    margin-bottom: 24px;
    line-height: 44px;
    font-weight: 500;
}

.auction-container p {
    color: rgb(85, 85, 85);
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 40px;
}

.auction-container a {
    color: rgb(96, 96, 96);
    border-bottom: 1.5px solid rgb(96, 96, 96);
    text-decoration: none;
}

.card-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 100px;
}

.card-container {
    display: flex;
    flex-direction: column;
    max-width: 280px;
}

.card-info {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    border-radius: 0 0 12px 12px;
    background-color: rgb(238, 238, 238);
}

.nft-series,
.bid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.bid {
    text-align: right;
}

.price-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nft-series span:nth-of-type(1) {
    color: rgb(253, 142, 79);
    font-size: 12px;
    font-weight: 500;
}

.nft-series span:nth-of-type(2),
.price {
    font-size: 20px;
    font-weight: 500;
}

.bid>span:nth-of-type(1) {
    color: rgb(127, 127, 127);
    font-size: 12px;
    font-weight: 500;
}

.nft-series span:nth-of-type(3),
.bid span:nth-of-type(2) {
    font-size: 18px;
    color: rgb(134 134 134);
}
.divider {
    width: 100%;
    height: 2px;
    background-color: rgb(238,238,238);
    margin-bottom: 80px;
}