html {
    scroll-behavior: smooth;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    width: 100vw;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 0 26px;
    padding: 20px 0;
}

.nav-container {
    display: flex;
    align-items: center;
}

.nav-container img {
    height: 50px;
}

.nav-list {
    display: flex;
    gap: 20px;
    display: none;
}

.nav-list a {
    text-decoration: none;
    color: rgb(96, 96, 96);
    font-size: 18px;
}

.nav-list li:last-child a {
    color: rgb(255, 57, 152);
}

.newlaunch-container {
    margin: 40px 0 60px 26px;
    font-size: 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.launch-container {
    width: 100vw;
    margin: 40px 0 50px 26px;
}

.upsell-img {
    height: 400px;
    position: absolute;
    bottom: 0;
    right: 0;
    overflow-x: hidden;
}

.newlaunch-info {
    font-size: 0;
}

.launch-info {
    width: 50%;
}

.launch-span {
    color: rgb(255, 57, 152);
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 18px;
    margin-bottom: 30px;
    display: block;
}

.launch-heading {
    font-weight: 800;
    font-size: 48px;
    margin-bottom: 20px;
    max-width: 300px;
}

.newlaunch-container div:nth-of-type(2),
.launch-container div:nth-of-type(2) {
    margin-bottom: 30px;
}

.newlaunch-container p,
.launch-container p {
    color: rgb(85, 85, 85);
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 30px;
}

.launch-container p {
    max-width: 300px;
}

.newlaunch-container p {
    max-width: 255px;
}

.signup-button {
    --border-width: 4px;
    --border-radius: 30px;
    border-radius: var(--border-radius);
    background: linear-gradient(50deg, #ff497a, #ff6941, #d3d891);
    font: inherit;
    border: 0;
    padding: 1.5rem 3.5rem;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    z-index: 1;
}

.signup-button::before {
    content: '';
    display: block;
    height: calc(100% - calc(var(--border-width) * 2));
    width: calc(100% - calc(var(--border-width) * 2));
    background: white;
    position: absolute;
    top: var(--border-width);
    left: var(--border-width);
    border-radius: var(--border-radius);
    z-index: -1;
}

.signup-button:hover {
    cursor: pointer;
}

.pink-nft {
    position: absolute;
    height: 400px;
    top: -10%;
    left: 40%;
}

.freenft-container {
    background-image: url('img/background.svg');
    background-size: cover;
    background-position: 10%;
    padding: 120px 0 30px 0;
}

.freenft-container div {
    font-size: 38px;
    margin: 16px 0;
    margin: 0 80px 16px 26px;
    line-height: 44px;
    font-weight: 500;
}

.freenft-container p {
    font-size: 20px;
    line-height: 28px;
    margin: 0 30px;
}

.companies {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 60px 26px;
    row-gap: 30px;
    place-items: center;
}

.companies img {
    height: 38px;
}

.auction-container {
    width: 100vw;
    margin: 0 0 0 26px;
}

.auction-name {
    font-size: 38px;
    max-width: 300px;
    margin-bottom: 24px;
    line-height: 44px;
    font-weight: 500;
}

.auction-container p {
    color: rgb(85, 85, 85);
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 40px;
    max-width: 360px;
}

.auction-container a {
    color: rgb(85, 85, 85);
    border-bottom: 1.5px solid rgb(85, 85, 85);
    text-decoration: none;
    font-weight: 500;
}

.card-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 100px;
    overflow-x: auto;
}

.card-container {
    display: flex;
    flex-direction: column;
    max-width: 280px;
}

.card-info {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    border-radius: 0 0 12px 12px;
    background-color: rgb(238, 238, 238);
}

.nft-series,
.bid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.bid {
    text-align: right;
}

.price-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nft-series span:nth-of-type(1) {
    color: rgb(253, 142, 79);
    font-size: 12px;
    font-weight: 500;
}

.nft-series span:nth-of-type(2),
.price {
    font-size: 20px;
    font-weight: 500;
}

.bid>span:nth-of-type(1) {
    color: rgb(127, 127, 127);
    font-size: 12px;
    font-weight: 500;
}

.nft-series span:nth-of-type(3),
.bid span:nth-of-type(2) {
    font-size: 18px;
    color: rgb(134 134 134);
}

.divider {
    width: 100%;
    height: 2px;
    background-color: rgb(238, 238, 238);
    margin-bottom: 60px;
    position: relative;
}

footer {
    margin: 0 0 80px 26px;
}

.social-wrapper {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-bottom: 60px;
}

.logo {
    width: 190px;
}

.media-container {
    display: flex;
    gap: 6px;
}

.media-container img {
    width: 26px;
}

.menu-container {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.menu-heading {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.8px;
    color: rgb(51, 51, 51);
}

.menu-container a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(96, 96, 96);
}

.menu-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 28px;
    margin-bottom: 40px;
}

.social-wrapper p {
    color: rgb(106, 106, 106);
    font-size: 20px;
}

.launching-date {
    display: none;
}

.copyright {
    color: rgb(153, 153, 153);
    font-size: 18px;
}

.companies img:nth-of-type(5) {
    display: none;
}

@media only screen and (min-width: 660px) {
    .upsell-img {
        right: 20%;
    }

    .launch-container p {
        max-width: 500px;
    }

    .newlaunch-container p {
        max-width: 360px;
    }
}

@media only screen and (min-width: 885px) {
    .launch-container {
        margin: 100px 0 80px 26px;
    }

    .launch-info {
        width: 70%;
    }

    .newlaunch-container p {
        max-width: 450px;
    }

    .freenft-container {
        padding-bottom: 60px;
        width: 100vw;
    }

    .nav-container img {
        height: 60px;
    }
}

@media only screen and (min-width: 1200px) {
    .companies {
        display: flex;
        justify-content: space-around;
    }

    .companies img:nth-of-type(5) {
        display: block;
    }

    .card-wrapper {
        justify-content: space-around;
        gap: 40px;
    }

    .newlaunch-info p {
        max-width: 500px;
    }

    .freenft-container {
        width: 95%;
        border-radius: 16px;
        margin: 0 auto;
    }

    .launch-info .launch-heading {
        max-width: 500px;
        font-size: 54px;
    }

    .auction-name {
        max-width: 500px;
    }

    .auction-container p {
        max-width: 800px;
    }

    .auction-container>div {
        margin-bottom: 34px;
    }

    .pink-nft {
        height: 450px;
    }

    .newlaunch-container {
        padding: 40px 0;
    }

    .info-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .menu-wrapper {
        display: flex;
        justify-content: space-around;
        gap: 60px;
        width: 60%;
    }

    header a img {
        display: none;
    }

    .nav-list {
        display: flex;
    }
}

@media only screen and (min-width: 1400px) {
    header {
        padding: 40px 0;
        margin: 0 70px;
    }

    header img {
        width: 280px;
    }

    .nav-list li a {
        font-size: 20px;
    }

    .newlaunch-info .launch-heading {
        font-size: 100px;
        max-width: 600px;
        margin-bottom: 50px;
    }

    .launch-span {
        font-size: 20px;
    }

    .newlaunch-container p {
        font-size: 22px;
        max-width: 520px;
        margin-bottom: 50px;
        line-height: 36px;
    }

    .newlaunch-container {
        padding: 80px 0;
        margin: 0 70px;
    }

    .pink-nft {
        top: 0;
        height: 700px;
    }

    .freenft-container {
        width: 97%;
    }

    .auction-container {
        width: 93%;
        margin: 0 auto;
    }

    .card-wrapper {
        justify-content: flex-start;
    }

    .auction-container {
        margin-bottom: 120px;
    }

    .launch-container {
        margin: 120px 0 120px 70px;
    }

    .launch-info .launch-heading {
        font-size: 60px;
        max-width: 600px;
        margin-bottom: 40px;
    }

    .launch-info p {
        font-size: 22px;
        max-width: 520px;
        margin-bottom: 40px;
    }

    .upsell-img {
        height: 500px;
        left: 50%;
    }

    .signup-button {
        --border-width: 6px;
        --border-radius: 70px;
        padding: 2rem 4rem;
        font-size: 26px;
    }

}

@media only screen and (min-width: 2000px) {
    header {
        padding: 70px 0;
    }

    .newlaunch-container {
        height: 55vh;
    }

    .launch-span {
        font-size: 24px;
        margin-bottom: 50px;
    }

    .newlaunch-container .launch-heading {
        font-size: 140px;
        max-width: 800px;
        margin-bottom: 60px;
    }

    .newlaunch-container p {
        font-size: 30px;
        max-width: 790px;
        line-height: 44px;
    }

    .signup-button {
        --border-width: 6px;
        --border-radius: 70px;
        padding: 2.2rem 4.5rem;
        font-size: 30px;
    }

    .pink-nft {
        height: 900px;
    }

    .nav-container li a {
        font-size: 26px;
    }

    .nav-list {
        gap: 30px;
    }

    .freenft-container {
        padding: 200px 0 100px 60px;
        margin-bottom: 160px;
        width: 91%;
    }

    .freenft-container div {
        font-size: 60px;
        margin-bottom: 50px;
    }

    .freenft-container p {
        font-size: 30px;
    }

    .companies img {
        height: 62px;
    }

    .companies {
        margin: 0 70px 140px 70px;
        justify-content: space-between;
    }

    .auction-container .auction-name {
        font-size: 60px;
        max-width: 600px;
        margin-bottom: 60px;
    }

    .auction-container p {
        font-size: 30px;
        max-width: 1100px;
    }

    .card-container {
        min-width: 400px;
    }

    .card-info {
        padding: 30px 30px;
        border-radius: 0 0 24px 24px;
    }

    .nft-series span:nth-of-type(1) {
        font-size: 18px;
    }

    .nft-series span:nth-of-type(2),
    .price {
        font-size: 26px;
    }

    .bid>span:nth-of-type(1) {
        font-size: 18px;
    }

    .nft-series span:nth-of-type(3),
    .bid span:nth-of-type(2) {
        font-size: 24px;
    }

    .nft-series,
    .bid {
        gap: 20px;
    }

    .launch-container {
        margin: 160px 0 160px 70px;
    }

    .launch-info .launch-heading {
        font-size: 86px;
        max-width: 800px;
        margin-bottom: 50px;
    }

    .launch-info p {
        font-size: 30px;
        max-width: 720px;
        margin-bottom: 70px;
    }

    footer {
        padding: 90px 0 80px 0;
        margin: 0 70px;
    }

    .info-wrapper {
        margin-bottom: 60px;
    }

    .menu-wrapper {
        width: 60%;
    }

    .social-wrapper {
        width: 40%;
    }

    .social-wrapper {
        gap: 45px;
    }

    .social-wrapper .logo {
        width: 300px;
    }

    .social-wrapper p {
        font-size: 32px;
    }

    .media-container img {
        width: 36px;
    }

    .media-container {
        gap: 12px;
    }

    .menu-heading {
        font-size: 26px;
    }

    .menu-wrapper a {
        font-size: 28px;
    }

    .copyright-container {
        display: flex;
        justify-content: space-between;
    }

    .launching-date {
        display: inline;
        font-size: 30px;
        color: rgb(153, 153, 153);
    }

    .copyright {
        font-size: 30px;
    }

    .upsell-img {
        height: 700px;
    }

    .divider {
        width: 92%;
        margin: 0 auto;
    }
}