body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    width: 100vw;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 0 26px;
    padding: 20px 0;
}

.nav-container {
    display: flex;
    align-items: center;
}
.nav-container img {
    height: 36px;
}
.nav-list {
    display: flex;
    gap: 20px;
    display: none;
}
.nav-list a {
    text-decoration: none;
    color: rgb(96,96,96);
    font-size: 18px;
}

.nav-list li:last-child a {
    color: rgb(255, 57, 152);
}

.newlaunch-container {
    margin: 40px 0 60px 26px;
    width: 100vw;
    display: flex;
}
.launch-container {
    width: 100vw;
    display: flex;
    margin: 40px 0 50px 26px;
}
.upsell-img {
    height: 400px;
    position: absolute;
    bottom: -20%;
}

.newlaunch-info {
    width: 55%;
}

.launch-span {
    color: rgb(255, 57, 152);
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 18px;
    margin-bottom: 30px;
    display: block;
}

.launch-heading {
    font-weight: 800;
    font-size: 48px;
}

.newlaunch-container div:nth-of-type(2), 
.launch-container div:nth-of-type(2) {
    margin-bottom: 30px;
}

.newlaunch-container p,
.launch-container p {
    color: rgb(85, 85, 85);
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 30px;
    max-width: 300px;
}

.signup-button {
    --border-width: 4px;
    --border-radius: 30px;
    border-radius: var(--border-radius);
    background: linear-gradient(50deg, #ff497a, #ff6941, #d3d891);
    font: inherit;
    border: 0;
    padding: 1.5rem 3.5rem;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    z-index: 1;
}

.signup-button::before {
    content: '';
    display: block;
    height: calc(100% - calc(var(--border-width) * 2));
    width: calc(100% - calc(var(--border-width) * 2));
    background: white;
    position: absolute;
    top: var(--border-width);
    left: var(--border-width);
    border-radius: var(--border-radius);
    z-index: -1;
}

.signup-button:hover {
    cursor: pointer;
}

.img-container,
.img-container2 {
    width: 35%;
    position: relative;
}

.pink-nft {
    position: absolute;
    height: 400px;
    left: -76%;
    top: -24%;
    /* left: 100%; */
}

.freenft-container {
    background-image: url('img/background.svg');
    background-size: cover;
    background-position: 90%;
    padding: 120px 0 30px 0;
}

.freenft-container div {
    font-size: 38px;
    margin: 16px 0;
    margin: 0 80px 16px 26px;
    line-height: 44px;
    font-weight: 500;
}

.freenft-container p {
    font-size: 20px;
    line-height: 28px;
    margin: 0 30px;
}

.companies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 60px 26px;
    row-gap: 30px;
}

.companies img {
    height: 38px;
}

.auction-container {
    margin: 0 26px;
}

.auction-name {
    font-size: 38px;
    max-width: 300px;
    margin-bottom: 24px;
    line-height: 44px;
    font-weight: 500;
}

.auction-container p {
    color: rgb(85, 85, 85);
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 40px;
}

.auction-container a {
    color: rgb(85,85,85);
    border-bottom: 1.5px solid rgb(85,85,85);
    text-decoration: none;
    font-weight: 500;
}

.card-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 100px;
    overflow: hidden;
}

.card-container {
    display: flex;
    flex-direction: column;
    max-width: 280px;
}

.card-info {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    border-radius: 0 0 12px 12px;
    background-color: rgb(238, 238, 238);
}

.nft-series,
.bid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.bid {
    text-align: right;
}

.price-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nft-series span:nth-of-type(1) {
    color: rgb(253, 142, 79);
    font-size: 12px;
    font-weight: 500;
}

.nft-series span:nth-of-type(2),
.price {
    font-size: 20px;
    font-weight: 500;
}

.bid>span:nth-of-type(1) {
    color: rgb(127, 127, 127);
    font-size: 12px;
    font-weight: 500;
}

.nft-series span:nth-of-type(3),
.bid span:nth-of-type(2) {
    font-size: 18px;
    color: rgb(134 134 134);
}
.divider {
    width: 100%;
    height: 2px;
    background-color: rgb(238,238,238);
    margin-bottom: 60px;
}

footer {
    margin: 0 0 80px 26px;
}

.social-wrapper {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-bottom: 60px;
}
.logo {
    width: 190px;
}
.media-container {
    display: flex;
    gap: 6px;
}
.media-container img {
    width: 26px;
}
.menu-container {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.menu-heading {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.8px;
    color: rgb(51, 51, 51);
}
.menu-container a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(96,96,96);
}
.menu-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 28px;
    margin-bottom: 40px;
}
.social-wrapper p {
    color: rgb(106,106,106);
    font-size: 20px;
}
.launching-date {
    display: none;
}
.copyright {
    color: rgb(153,153,153);
    font-size: 18px;
}

